{% extends 'patient_templates/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row g-5 justify-content-start mt-3 mx-4">
        {% for report in report_files %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">Appointment Number:{{report.appointment_number}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{report.patient_id}}</h5>
                        <span>upoloaded at</span>
                        <p>{{report.uploaded_at}}</p>
                        <a href="{{ report.reports.url }}" download="{{ report.reports.name }}" class="btn btn-primary">Download</a>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}