
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="">Health Data Hub</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{% url 'patient_home' %}">Home</a></li> 
                            <li class="nav-item"><a class="nav-link" href="{% url 'hospitals' %}">Hospitals</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Appointments</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="{% url 'book_appointments' %}">Book Appointments</a></li>
                                    <li><a class="dropdown-item" href="{% url 'my_appointments' %}">My Appointments</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="">Profile</a></li>
                                    <li><a class="dropdown-item" href="">My Appointments</a></li>
                                    <li><a class="dropdown-item" href="{% url 'medical_records' %}">Medical Records</a></li>
                                    <li><a class="dropdown-item" href="">Notifications</a></li>
                                    <li><a class="dropdown-item" href="">Settings</a></li>
                                    <li><a class="dropdown-item" href="">Help & Support </a></li>
                                    <li><a class="dropdown-item logout-item" href="">Log Out <i class="bi bi-box-arrow-right"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>